@import media
@import mixins
@import variables


.clients
	background: #fafafa
.clietns-item
	@extend %display-flex
.clients-title
	@extend %title
	.descr
		@extend %descr
	.client-quote
		img
			display: inline-block
			width: 100%
			height: auto
