@import media
@import mixins
@import variables


.clients
	background: #fafafa
	.clietns-item
		@extend %display-flex
	.clients-title
		@extend %title

		.descr
			@extend %descr

	.client-quote
		display: flex
		flex-wrap: wrap
		justify-content: center
		+min-width-768
			justify-content: space-around
			flex-wrap: nowrap
			align-items: center
		img
			@extend %border
			display: inline-block
			+min-width-768
				margin-right: 5%
		.quote
			padding: 6% 13% 6% 13%
			display: inline-block
			background: $colorPrimary

.team-photo
	display: flex
	flex-wrap: wrap
	+min-width-768
		flex-wrap: nowrap
		justify-content: space-around

	.photo
		text-align: center
		
.border
	@extend %border

.order1
	@extend %order1
.order2
	@extend %order2

.tri-left
	&::after 

.tri-right
	&::before 