@import media
@imoport mixins
@import variables

body
  background: $colorPrimary
  font-family: $fontFamilyPrimary
a
  text-decoration: none

.container
  min-width: 300px
  max-width: 940px
  width: 100%
  margin: 0 auto

.main
  @extend %no-list
  @extend %display-flex
  .content
    padding: 5px
    width: 100%
    margin-top: 2%
    +min-width-768
      width: 48%


.features
  background: $colorPrimary
  padding-top: 4.7%
  padding-bottom: 3.4%
  .feature__icon
    width: 75px
    height: 75px
    border-radius: 50%
    color: $colorPrimary
    background: $colorSecond
    font-size: 40px
    float: left
    margin-top: 1%
    margin-right: 3%
    margin-left: 3%
  .fa
    @extend %pd
  .feature__body
    margin-left: 110px
    .feature__title
      color: $colorSecond
      font-size: 20px
      font-weight: 700
      margin-top: 0
    .feature__text
      color: $colorThree
      font-size: 16px
      margin-top: 0
      line-height: 1.5


